<% include partiels/header.ejs %>

<div class="center">

  <h2>Welcome <strong><%= username %></strong></h2>
  <div class="divider"></div>
  <br>
  <p>If you weren't logged in, this file was not accessible.</p>
  <p>This is a page that only logged in users can see!</p>
  <br>
  <a href="/logout" class="btn waves-effect waves-teal">Logout</a>

</div>

<% include partiels/footer.ejs %>
